<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}My Blog{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Blog Sphere</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            {% if session['logged_in'] %}
            <a href="{{ url_for('create_post') }}">Create Post</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>